<form method="POST" action="/form-data">
    <label for="list_item">New Item</label>
    <input type="text" name="list_item" placeholder="say something">
    <button type="submit">SUBMIT</button>
</form>